@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  --myrtle-green: #4A757Eff;
  --ash-gray: #B0CDCBff;
  --myrtle-green-2: #507C86ff;
  --dark-slate-gray: rgb(37, 65, 72);
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.app {
  background-color: var(--myrtle-green);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

